<mat-toolbar>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Signal project</span>
	<span class="example-spacer"></span>
	<button mat-button [routerLink]="['/']" routerLinkActive="active">Basic</button>
	<button mat-button [routerLink]="['/inputs']" routerLinkActive="active">Inputs</button>
	<button mat-button [routerLink]="['/observable']" routerLinkActive="active">Observable</button>
	<button mat-button [routerLink]="['/products']" routerLinkActive="active">Products</button>
</mat-toolbar>
